<header>
    <div class="container">
        <h2 class="logo">Jenna Phillips </h2>

        <br>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/sponsor">Sponsors</a></li>
                <li><a routerLink="/contact">Contact</a></li>
                <li><a routerLink="/tournaments">Tournaments</a></li>
            </ul>
        </nav>
    </div>
</header>

<mat-divider></mat-divider>
<router-outlet></router-outlet>
<!-- //<br> <i style = "font-size: 15px; padding:15px">Professional Golfer</i> -->